<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wxgaly.android.forceapkdemo">

    <application
        android:name="wxgaly.android.proxy_lib.ProxyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/WXGALY.Theme.Background">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".EmptyActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="app_name"
            android:value="wxgaly.android.forceapkdemo.SourceApplication" />
        <meta-data
            android:name="app_version"
            android:value="1.0.0.0001" />

    </application>

</manifest>